<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Crew">
	<resultMap type="Crew" id="CrewResultSet">
		<!-- Primary key  -->
		<id property="crew_Id" column="CREW_ID"/>
		<!-- 컬럼  -->
		<result property="crew_Name" column="CREW_NAME"/>
		<result property="crew_Max" column="CREW_MAX"/>
		<result property="user_No" column="USER_NO"/>
		<result property="request_Date" column="REQUEST_DATE"/>
		<result property="start_Date" column="START_DATE"/>
		<result property="end_Date" column="END_DATE"/>
		<result property="crew_Status" column="CREW_STATUS"/>
		<result property="category_No" column="CATEGORY_NO"/>
		<result property="user_Name" column="USER_NAME"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
		<result property="user_Id" column="USER_ID"/>
	</resultMap>	
	
	<resultMap type="CrewRecruitmentBoard" id="CrewRecruitmentSet">
		<!-- Primary key  -->
		<id property="board_No" column="BOARD_NO"/>
		<!-- 컬럼  -->
		<result property="board_Type" column="BOARD_TYPE"/>
		<result property="board_Title" column="BOARD_TITLE"/>
		<result property="board_Content" column="BOARD_CONTENT"/>
		<result property="enroll_Date" column="ENROLL_DATE"/>
		<result property="crew_Area" column="CREW_AREA"/>
		<result property="crew_No" column="CREW_NO"/>
		<result property="board_Count" column="BOARD_COUNT"/>
		<result property="recruit_Max" column="RECRUIT_MAX"/>
		<result property="recruit_Start" column="RECRUIT_START"/>
		<result property="recruit_End" column="RECRUIT_END"/>
		<result property="recruit_Status" column="RECRUIT_STATUS"/>
		<result property="status" column="STATUS"/>
		<result property="user_No" column="USER_NO"/>
		<result property="category_No" column="CATEGORY_NO"/>
		<result property="category_Name" column="CATEGORY_NAME"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
		<result property="file_No" column="FILE_NO"/>
		<result property="category_Name" column="CATEGORY_NAME"/>
		<result property="user_Name" column="USER_NAME"/>
		<result property="user_Id" column="USER_ID"/>
	</resultMap>
	
	<resultMap type="Attachment" id="CrewRmbAttachment">
	<!-- Primary key  -->
	<id property="att_No" column="ATT_NO"/>
		<!-- 컬럼  -->
		<result property="file_No" column="FILE_NO"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
		<result property="origin_Name" column="ORIGIN_NAME"/>
		<result property="file_size" column="FILE_SIZE"/>
		<result property="file_Ext" column="FILE_EXT"/>
		<result property="file_Date" column="FILE_DATE"/>
		<result property="file_Type" column="FILE_TYPE"/>
		<result property="ref_No" column="REF_NO"/>
		<result property="user_Name" column="USER_NAME"/>
		<result property="crew_Name" column="CREW_NAME"/>
		<result property="crew_No" column="CREW_NO"/>
		
	</resultMap>
	
	<resultMap type="inCrew1" id="CrewInCrew">
	<!-- Primary key  -->
	<id property="increw_No" column="INCREW_NO"/>
		<!--컬럼  -->
		<result property="user_No" column="USER_NO"/>
		<result property="crew_Id" column="CREW_ID"/>
		<result property="request_Date" column="REQUEST_DATE"/>
		<result property="start_Date" column="START_DATE"/>
		<result property="end_Date" column="END_DATE"/>
		<result property="inCrew_Status" column="INCREW_STATUS"/>
		<result property="inCrew_No" column="INCREW_NO"/>
		<result property="user_Name" column="USER_NAME"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
	</resultMap>
	
	<resultMap type="CrewComent" id="crewComents">
	<!-- Primary key  -->
	<id property="coment_No" column="COMENT_NO"/>
		<!-- 컬럼  -->
		<result property="coment_Content" column="COMENT_CONTENT"/>
		<result property="coment_Date" column="COMENT_DATE"/>
		<result property="coment_ModifyDate" column="COMENT_MODIFYDATE"/>
		<result property="coment_Status" column="COMENT_STATUS"/>
		<result property="board_No" column="BOARD_NO"/>
		<result property="parent_Coment_No" column="PARENT_COMENT_NO"/>
		<result property="user_No" column="USER_NO"/>
		<result property="user_Name" column="USER_NAME"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
	</resultMap>
	
	<resultMap type="CrewActivityBoard" id="CrewActivityBoards">
	<!-- Primary key  -->
	<id property="board_No" column="BOARD_NO"/>
		<!-- 컬럼  -->
		<result property="board_Type" column="BOARD_TYPE"/>
		<result property="board_Title" column="BOARD_TITLE"/>
		<result property="board_Content" column="BOARD_CONTENT"/>
		<result property="enroll_Date" column="ENROLL_DATE"/>
		<result property="modify_Date" column="MODIFY_DATE"/>
		<result property="start_Date" column="START_DATE"/>
		<result property="crew_Count" column="CREW_COUNT"/>
		<result property="crew_No" column="CREW_NO"/>
		<result property="board_Count" column="BOARD_COUNT"/>
		<result property="crew_Area" column="CREW_AREA"/>
		<result property="status" column="STATUS"/>
		<result property="user_No" column="USER_NO"/>
		<result property="category_No" column="CATEGORY_NO"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
		<result property="file_No" column="FILE_NO"/>
		<result property="category_Name" column="CATEGORY_NAME"/>
		<result property="user_Name" column="USER_NAME"/>
		<result property="crew_Name" column="CREW_NAME"/>
		<result property="user_Id" column="USER_ID"/>
	</resultMap>	

	
	<!-- 크루 인서트  -->
	<insert id="insertCrew"  parameterType="Crew">
		INSERT INTO	CREW(CREW_ID,CREW_NAME,CREW_MAX,USER_NO,REQUEST_DATE,START_DATE,END_DATE,CREW_STATUS,CATEGORY_NO)
		VALUES(SEQ_CREW_CREW_ID.NEXTVAL,#{crew_Name},#{crew_Max},#{user_No},SYSDATE,#{start_Date},#{end_Date},'Y',#{category_No})
	</insert>
	
	<!-- 크루 인서트한 번호 커발하여 조회  -->
	<select id="selectCrewId" parameterType="_int" resultType="_int">
		SELECT SEQ_CREW_CREW_ID.CURRVAL FROM dual
	</select>
	
	<!-- 크루의 카테고리번호를 받아온다  -->
	<select id="selectCategoryCode" parameterType="_int" resultType="_int">
		SELECT CATEGORY_NO
		FROM CREW
		WHERE CREW_ID = #{crew_Id}
		
	</select>
	
	<!-- 크루 모집 게시판 등록  -->
	<insert id="insertBoard" parameterType="Crew">
		INSERT INTO BOARD(BOARD_NO,BOARD_TYPE,BOARD_TITLE,
		BOARD_CONTENT,ENROLL_DATE,CREW_AREA,CREW_NO,BOARD_COUNT,
		RECRUIT_MAX,RECRUIT_START,RECRUIT_END,RECRUIT_STATUS,
		STATUS,USER_NO,CATEGORY_NO)
		VALUES(BOARD_NO.NEXTVAL,'크루모집',#{board_Title},#{board_Content},
		SYSDATE,#{crew_Area},#{crew_No},0,#{recruit_Max},#{recruit_Start},
		#{recruit_End},'N','Y',#{user_No},#{category_No})
	</insert>
	
	<!-- 크루 모집 게시판 번호 커발하여 조회  -->
	<select id="selectBoardId" parameterType="_int" resultType="_int">	
		SELECT BOARD_NO.CURRVAL FROM dual
	</select>
	
	<!-- 크루 로고 사진 등록  -->
	<insert id="insertRmbAttachment" parameterType="Crew">
		INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,
		FILE_SIZE,FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO) 
		VALUES(SEQ_ATT_NO.NEXTVAL,0,#{upload_Name},#{origin_Name},#{file_size},
		#{file_Ext},SYSDATE,4,#{ref_No})
	</insert>
	
	<!-- 크루 이용할 시설 사진 등록  -->
	<insert id="insertRmbAttachment1" parameterType="Crew">
		INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,
		FILE_SIZE,FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO) 
		VALUES(SEQ_ATT_NO.NEXTVAL,1,#{upload_Name},#{origin_Name},#{file_size},
		#{file_Ext},SYSDATE,4,#{ref_No})
	</insert>
	
	<!-- 크루모집 게시물 갯수 조회  -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'N'
		AND BOARD_TYPE = '크루모집'
	</select>
	
	<!-- 크루모집 게시판 조회  -->
	<select id="crewRecruitmentBoardList" resultMap="CrewRecruitmentSet">
		SELECT B.BOARD_NO,B.BOARD_TITLE,C.CATEGORY_NAME,B.CREW_AREA,
		B.ENROLL_DATE,B.RECRUIT_MAX,B.BOARD_COUNT,B.USER_NO,B.CREW_NO,A.UPLOAD_NAME
		FROM BOARD B
		LEFT JOIN CATEGORY C ON(B.CATEGORY_NO = C.CATEGORY_NO)
		LEFT JOIN ATTACHMENT A ON(B.BOARD_NO = A.REF_NO)
		WHERE A.FILE_NO = 0
		AND B.BOARD_TYPE = '크루모집'
        ORDER BY B.BOARD_NO DESC
	</select>

	<!-- 크루모집 카테고리 게시물 갯수 조회  -->
	<select id="getCrewCategoryListCount" resultType="_int">
		SELECT COUNT(*)
        FROM BOARD B
        JOIN CATEGORY C ON (B.CATEGORY_NO = C.CATEGORY_NO)
        WHERE B.STATUS = 'N'
        AND B.BOARD_TYPE = '크루모집'
        AND C.CATEGORY_NAME = #{categoryName}
	</select>
	
	<!--크루모집 게시판 카테고리별 조회  -->
	<select id="crewCategoryRecruitmentBoardList" resultMap="CrewRecruitmentSet">
		SELECT B.BOARD_NO,B.BOARD_TITLE,C.CATEGORY_NAME,B.CREW_AREA,
		B.ENROLL_DATE,B.RECRUIT_MAX,B.BOARD_COUNT,B.CREW_NO,B.USER_NO,A.UPLOAD_NAME
		FROM BOARD B
		LEFT JOIN CATEGORY C ON(B.CATEGORY_NO = C.CATEGORY_NO)
		LEFT JOIN ATTACHMENT A ON(B.BOARD_NO = A.REF_NO)
		WHERE A.FILE_NO = 0
        AND C.CATEGORY_NAME = #{categoryName}
        ORDER BY B.BOARD_NO DESC
	</select>
	
	<!-- 크루모집 제목별 게시물 갯수 조회  -->
	 <select id="getCrewTitleListCount" resultType="_int">	
	 	SELECT COUNT(*)
        FROM BOARD B
        JOIN CATEGORY C ON (B.CATEGORY_NO = C.CATEGORY_NO)
        WHERE B.STATUS = 'N'
        AND B.BOARD_TYPE = '크루모집'
        AND B.BOARD_TITLE LIKE '%'|| #{board_Title} || '%'
	</select>
	
	<!-- 크루모집 지역별 게시물 갯수 조회  -->
	 <select id="getCrewAreaListCount" resultType="_int">	
		SELECT COUNT(*)
        FROM BOARD B
        JOIN CATEGORY C ON (B.CATEGORY_NO = C.CATEGORY_NO)
        WHERE B.STATUS = 'N'
        AND B.BOARD_TYPE = '크루모집'
        AND B.CREW_AREA LIKE '%'|| #{crew_Area} || '%'
     </select>
    
     <!-- 크루모집 제목별 검색 게시물 조회  -->
     <select id="crewTitleRecruitmentBoardList" resultMap="CrewRecruitmentSet">
     	SELECT B.BOARD_NO,B.BOARD_TITLE,C.CATEGORY_NAME,B.CREW_AREA,
		B.ENROLL_DATE,B.RECRUIT_MAX,B.BOARD_COUNT,B.CREW_NO,B.USER_NO,A.UPLOAD_NAME
		FROM BOARD B
		LEFT JOIN CATEGORY C ON(B.CATEGORY_NO = C.CATEGORY_NO)
		LEFT JOIN ATTACHMENT A ON(B.BOARD_NO = A.REF_NO)
		WHERE A.FILE_NO = 0
		AND B.BOARD_TITLE LIKE '%'|| #{board_Title} || '%'
		ORDER BY B.BOARD_NO DESC
     </select>
     
     <!-- 크루모집 지역별 검색 게시물 조회  -->
     <select id="crewAreaRecruitmentBoardList" resultMap="CrewRecruitmentSet">
     	SELECT B.BOARD_NO,B.BOARD_TITLE,C.CATEGORY_NAME,B.CREW_AREA,
		B.ENROLL_DATE,B.RECRUIT_MAX,B.BOARD_COUNT,B.CREW_NO,B.USER_NO,A.UPLOAD_NAME
		FROM BOARD B
		LEFT JOIN CATEGORY C ON(B.CATEGORY_NO = C.CATEGORY_NO)
		LEFT JOIN ATTACHMENT A ON(B.BOARD_NO = A.REF_NO)
		WHERE A.FILE_NO = 0
		AND B.CREW_AREA LIKE '%'|| #{crew_Area} || '%'
     </select>
     
     <!-- 크루활동 상세보기 데이터 조회  -->
     <select id="crewRecruitmentBoardDetailsList" resultMap="CrewRecruitmentSet">
     	SELECT B.BOARD_NO,C.CATEGORY_NAME,B.CREW_AREA,B.BOARD_CONTENT,B.BOARD_TITLE,
		B.RECRUIT_START,B.RECRUIT_END,B.CREW_NO,B.RECRUIT_MAX,B.RECRUIT_MIN,M.USER_NAME
		FROM BOARD B
		JOIN CATEGORY C ON (B.CATEGORY_NO = C.CATEGORY_NO)
		JOIN MEMBER M ON (B.USER_NO = M.USER_NO)
		WHERE B.BOARD_NO = #{board_No}
     </select>
     
     <!-- 크루 활동 게시판 사진 조회  -->
     <select id="crewAttachmentDetails" resultMap="CrewRmbAttachment">
     	SELECT FILE_NO,UPLOAD_NAME
		FROM ATTACHMENT
		WHERE FILE_TYPE = 4
		AND REF_NO = #{board_No}
     </select>
     
     <!-- 크루 작성자 사진 조회 -->
     <select id="crewUserPhoto" resultMap="CrewRmbAttachment">
     	SELECT A.FILE_NO,A.UPLOAD_NAME
		FROM BOARD B
        JOIN MEMBER M ON (B.USER_NO = M.USER_NO)
        JOIN ATTACHMENT A ON (B.BOARD_NO = A.REF_NO)
		WHERE A.FILE_TYPE =  3
        AND A.REF_NO = (SELECT B.USER_NO
                        FROM BOARD B
                        WHERE B.BOARD_NO = #{board_No})
     </select>
     
     <!-- 크루 모집 버튼 눌렀을시 신청  -->
     <insert id="insertInCrew" parameterType="Crew">
     	INSERT INTO INCREW(USER_NO,CREW_ID,REQUEST_DATE,INCREW_STATUS,INCREW_NO)
    	VALUES(#{user_No},#{crew_Id},SYSDATE,'N',SEQ_INCREW_NO.NEXTVAL)
     </insert>
     
     <!-- 조회수증가 업데이트  -->
     <update id="crewRecruitmentDetailsUpdate" parameterType="Crew">
     	UPDATE BOARD
     	SET BOARD_COUNT = BOARD_COUNT +1
     	WHERE BOARD_NO = #{board_No}
     </update>
     
     <!-- 크루모집댓글인서트  -->
     <insert id="crewAddComent" parameterType="Crew">
     	INSERT INTO COMENT(COMENT_NO,COMENT_CONTENT,COMENT_DATE,COMENT_STATUS,BOARD_NO,PARENT_COMENT_NO,USER_NO)
     	VALUES(SEQ_COMENT_NO.NEXTVAL,#{coment_Content},SYSDATE,'Y',#{board_No},0,#{user_No})
     </insert>
     
     <!-- 크루모집자식댓글인서트 -->
     <insert id="crewAddchildComent" parameterType="Crew">
     	INSERT INTO COMENT(COMENT_NO,COMENT_CONTENT,
     	COMENT_DATE,COMENT_STATUS,BOARD_NO,PARENT_COMENT_NO,USER_NO)
     	VALUES(SEQ_COMENT_NO.NEXTVAL,#{coment_Content},SYSDATE,'Y',#{board_No},#{coment_No},#{user_No})
     </insert>
      
      <!-- 크루활동 모집 댓글 조회 -->
     <select id="crewComentSelect" resultMap="crewComents">
     	SELECT C.COMENT_NO,C.COMENT_CONTENT,C.BOARD_NO,C.PARENT_COMENT_NO,M.USER_NAME,A.UPLOAD_NAME 
			FROM COMENT C
			JOIN MEMBER M ON (C.USER_NO = M.USER_NO)
			JOIN ATTACHMENT A ON (M.USER_NO = A.REF_NO)
			WHERE C.BOARD_NO = #{board_No}
			AND A.FILE_NO = 0
			AND A.FILE_TYPE = 3
			ORDER BY DECODE(C.PARENT_COMENT_NO,0,COMENT_NO,C.PARENT_COMENT_NO)ASC,C.COMENT_NO ASC
     </select>
     
     <!-- 선정된 크루원 리스트 조회  -->
     <select id="crewInCrewY"  resultMap="CrewInCrew">
     	SELECT M.USER_NAME,A.UPLOAD_NAME
			FROM INCREW I
			JOIN CREW C ON (I.CREW_ID = C.CREW_ID)
			JOIN BOARD B ON (C.CREW_ID = B.CREW_NO)
			JOIN MEMBER M ON (I.USER_NO = M.USER_NO)
			JOIN ATTACHMENT A ON (M.USER_NO = A.REF_NO)
			WHERE I.CREW_ID = #{crew_Id}
			AND I.INCREW_STATUS = 'Y'
     </select>
     
     <!-- 해당된 크루리스트를 조회 해온다.  -->
     <select id="crewInformation" resultMap="CrewResultSet">
     	SELECT C.CREW_NAME,C.CREW_ID,C1.CATEGORY_NAME
			FROM CREW C
			JOIN CATEGORY C1 ON (C.CATEGORY_NO = C1.CATEGORY_NO)
			JOIN MEMBER M ON (C.USER_NO = M.USER_NO)
			WHERE M.USER_NO = #{user_No}
     </select>
     
     <!-- 크루의 카테고리번호를 받아온다  -->
	<select id="selectCategoryNo" parameterType="_int" resultType="_int">
		SELECT CATEGORY_NO
		FROM CREW
		WHERE CREW_ID = #{crew_No}
	</select>
	
	<!-- 크루 활동 게시판 인서트  -->
	
	<insert id="insertCrewActivity" parameterType="Crew">
		INSERT INTO BOARD (BOARD_NO,BOARD_TYPE,BOARD_TITLE,BOARD_CONTENT,ENROLL_DATE,
		CREW_AREA,START_DATE,CREW_COUNT,CREW_NO,BOARD_COUNT,STATUS,USER_NO,CATEGORY_NO)
		VALUES(BOARD_NO.NEXTVAL,'크루활동',#{board_Title},#{board_Content},SYSDATE,#{crew_Area},
		#{start_Date},#{crew_Count},#{crew_No},0,'Y',#{user_No},#{category_No})
	</insert>
	
	<!-- 크루 활동 이미지 인서트  -->
	
	<insert id="insertCaAttachment" parameterType="Crew">
		INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,
		FILE_SIZE,FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO) 
		VALUES(SEQ_ATT_NO.NEXTVAL,0,#{upload_Name},#{origin_Name},#{file_size},
		#{file_Ext},SYSDATE,7,#{ref_No})
	</insert>
	
	<insert id="insertCaAttachment1" parameterType="Crew">
		INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,
		FILE_SIZE,FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO) 
		VALUES(SEQ_ATT_NO.NEXTVAL,1,#{upload_Name},#{origin_Name},#{file_size},
		#{file_Ext},SYSDATE,7,#{ref_No})
	
	</insert>
	
	<insert id="insertCaAttachment2" parameterType="Crew">
		INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,
		FILE_SIZE,FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO) 
		VALUES(SEQ_ATT_NO.NEXTVAL,2,#{upload_Name},#{origin_Name},#{file_size},
		#{file_Ext},SYSDATE,7,#{ref_No})
	
	</insert>
	
	<insert id="insertCaAttachment3" parameterType="Crew">
		INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,
		FILE_SIZE,FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO) 
		VALUES(SEQ_ATT_NO.NEXTVAL,3,#{upload_Name},#{origin_Name},#{file_size},
		#{file_Ext},SYSDATE,7,#{ref_No})
	</insert>
	
	<!-- 크루활동 게시판 리스트 조회  -->
     <select id="crewActivityBoardList"  resultMap="CrewActivityBoards">
     	SELECT B.BOARD_NO,B.BOARD_TITLE,B.CREW_AREA,B.START_DATE,
		B.CREW_COUNT,B.CREW_NO,C.CREW_NAME,C1.CATEGORY_NAME,A.UPLOAD_NAME
		FROM BOARD B
		JOIN CREW C ON (B.CREW_NO = C.CREW_ID)
		JOIN CATEGORY C1 ON (B.CATEGORY_NO = C1.CATEGORY_NO)
		JOIN ATTACHMENT A ON (B.BOARD_NO = A.REF_NO)
		WHERE A.FILE_NO = 0
		AND B.BOARD_TYPE = '크루활동'
		ORDER BY B.BOARD_NO DESC
     </select>
     
     <!--크루활동 게시판 상세 리스트 조회  -->
     	 <select id="crewActivityBoardDetailList"  resultMap="CrewActivityBoards">
     	 	SELECT B.BOARD_NO,B.BOARD_TITLE,B.CREW_AREA,B.START_DATE,
			B.CREW_COUNT,B.BOARD_CONTENT,C1.CATEGORY_NAME,C.CREW_NAME
			FROM BOARD B
			JOIN CREW C ON (B.CREW_NO = C.CREW_ID)
			JOIN CATEGORY C1 ON (C.CATEGORY_NO = C1.CATEGORY_NO)
			WHERE B.BOARD_TYPE = '크루활동'
			AND B.BOARD_NO = #{board_No} 
     	 </select>
     <!-- 크루활동 작성자 사진 이름 조회  -->
     	<select id="userPhotos" resultMap="CrewRmbAttachment">
     		SELECT A.UPLOAD_NAME,M.USER_NAME
			FROM MEMBER M 
			JOIN BOARD B ON (M.USER_NO = B.USER_NO)
			JOIN ATTACHMENT A ON (M.USER_NO = A.REF_NO)
			WHERE B.BOARD_NO = #{board_No}
     	</select>
     <!-- 크루활동 크루 이름 크루 이미지 조회  -->
     	<select id="crewPhotos" resultMap="CrewRmbAttachment">
     		SELECT A.UPLOAD_NAME,C.CREW_NAME
			FROM CREW C
			JOIN BOARD B ON (C.CREW_ID = B.CREW_NO)
			JOIN ATTACHMENT A ON (B.BOARD_NO = A.REF_NO)
			WHERE C.CREW_ID = #{crew_No}
			AND A.FILE_NO = 0
			AND B.BOARD_TYPE = '크루모집'
     	</select>	
     	
     	<!-- 크루활동게시판 사진 조회  -->	
     	<select id="crewActivityBoardDetailPhoto" resultMap="CrewRmbAttachment">
     		SELECT A.UPLOAD_NAME,A.FILE_NO
			FROM BOARD B
			JOIN ATTACHMENT A ON (B.BOARD_NO = A.REF_NO)
			WHERE B.BOARD_TYPE = '크루활동'
			AND B.BOARD_NO = #{board_No}
     	</select>
     	 
     <!-- 크루 생성한 사람 바로 크루 가입 -->
     <insert id="insertInCrew2" parameterType="_int">
     	INSERT INTO INCREW VALUES(#{user_No}, #{crew_Id}, SYSDATE, SYSDATE, NULL, 'Y', SEQ_INCREW_NO.NEXTVAL)
     </insert>
     
     <!-- 크루 활동 게시판 상세보기 클릭시 조회수 증가  -->
     <update id="updateBoardCount">
     	UPDATE BOARD
     	SET BOARD_COUNT = BOARD_COUNT +1
     	WHERE BOARD_NO = #{board_No}
     </update>
     
</mapper>