<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  
<mapper namespace="InformBoard">


<resultMap type="com.finalProject.enjoin.informBoard.model.vo.InformBoard" id="informBoardResultSet">

	<id property="boardNo" column= "BOARD_NO"/>
	<result property="informBoardType" column="BOARD_TYPE"/>
  		<result property="informBoardTitle" column="BOARD_TITLE"/>
  		<result property="informBoardContent" column="BOARD_CONTENT"/>
  		<result property="informEnrollDate" column="ENROLL_DATE"/>
  		<result property="informModifyDate" column="MODIFY_DATE"/>
  		<result property="informPassCount" column="PASS_COUNT"/>
  		<result property="noticeMax" column="NOTICE_MAX"/>
  		<result property="noticeMin" column="NOTICE_MIN"/>
  		<result property="noticeRequest" column="NOTICE_REQUEST"/>
  		<result property="noticeEnd" column="NOTICE_END"/>
  		<result property="noticeStart" column="NOTICE_START"/>
  		<result property="noticeStatus" column="STATUS"/>
  		<result property="categoryNo" column="CATEGORY_NO"/>
  		<result property="userNo" column="USER_NO"/>
  		<result property="noticeDaily" column="NOTICE_DAILY"/>
</resultMap>
	
<resultMap type="com.finalProject.enjoin.informBoard.model.vo.InformBoardFiles" id="informBoardFilesResultSet">
		<id property="attNo" column="ATT_NO"/>
		<result property="fileNo" column="FILE_NO"/>
		<result property="uploadName" column="UPLOAD_NAME"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="filesize" column="FILE_SIZE"/>
		<result property="fileExt" column="FILE_EXT"/>
		<result property="fileDate" column="FILE_DATE"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="refNo" column="REF_NO"/>
		<result property="crewArea" column="CREW_AREA"/>
</resultMap>

	<resultMap type="com.finalProject.enjoin.member.model.vo.Member" id="memberResultSet">
		<!-- PRIMARY KEY -->
		<id property="userNo" column="USER_NO"/>
		<!-- 컬럼 -->
		<result property="userType" column="USER_TYPE"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>	
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="managerPhone" column="MANAGER_PHONE"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="copNo" column="COP_NO"/>
		<result property="ceoName" column="CEO_NAME"/>
		<result property="copName" column="COP_NAME"/>
		<result property="copAddress" column="COP_ADDRESS"/>
		<result property="copType" column="COP_TYPE"/>
		<result property="copCon" column="COP_CON"/>
		<result property="copEmail" column="COP_EMAIL"/>
		<result property="upload_name" column="UPLOAD_NAME"/>
	</resultMap>
	
	<resultMap type="com.finalProject.enjoin.informBoard.model.vo.InformComent" id="comentResultSet">
		<id property="comentNo" column="COMENT_NO"/>
		<result property="comentContent" column="COMENT_CONTENT"/>
		<result property="comentDate" column="COMENT_DATE"/>
		<result property="comentModifyDate" column="COMENT_MODIFYDATE"/>
		<result property="comentStatus" column="COMENT_STATUS"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="parentComentNo" column="PARENT_COMENT_NO"/>
		
		
	</resultMap>
	
	


	
	
	<insert id="insertInformBoard" parameterType="InformBoard">
	INSERT INTO BOARD(BOARD_NO,BOARD_TYPE,BOARD_TITLE,BOARD_CONTENT,ENROLL_DATE,PASS_COUNT,
	NOTICE_MAX,NOTICE_MIN,NOTICE_REQUEST,NOTICE_END,NOTICE_START,STATUS,CATEGORY_NO,
	NOTICE_DAILY,CREW_AREA)
	VALUES(board_no.NEXTVAL,'공고',#{informBoardTitle},#{informBoardContent},SYSDATE,
	#{informPassCount},#{noticeMax},#{noticeMin},to_date(#{noticeRequest}),
	to_date(#{noticeEnd}),to_date(#{noticeStart}),'Y',#{categoryNo},#{noticeDaily},#{crewArea})
	</insert>
	
	<select id="selectBoardNo" resultType="_int" parameterType="_int">
		SELECT MAX(BOARD_NO) FROM BOARD
	</select>

	<insert id="insertInformFiles0" parameterType="InformBoardFiles">
	 INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,FILE_SIZE, FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO)
	VALUES(SEQ_ATT_NO.NEXTVAL,1,#{uploadName},#{originName},#{filesize},#{fileExt},SYSDATE,'1',#{refNo})
	</insert>
	
	<insert id="insertInformFiles1" parameterType="InformBoardFiles">
	 INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,FILE_SIZE, FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO)
	VALUES(SEQ_ATT_NO.NEXTVAL,2,#{uploadName},#{originName},#{filesize},#{fileExt},SYSDATE,'1',#{refNo})
	</insert>
	
	<insert id="insertInformFiles2" parameterType="InformBoardFiles">
	 INSERT INTO ATTACHMENT(ATT_NO,FILE_NO,UPLOAD_NAME,ORIGIN_NAME,FILE_SIZE, FILE_EXT,FILE_DATE,FILE_TYPE,REF_NO)
	VALUES(SEQ_ATT_NO.NEXTVAL,3,#{uploadName},#{originName},#{filesize},#{fileExt},SYSDATE,'1',#{refNo})
	</insert>
	
	<select id="getListCount" resultType="_int" parameterType="_int">
	SELECT COUNT(*)FROM BOARD WHERE BOARD_TYPE='공고'
	</select>
	
	<select id="selectBoardList" resultType="map" parameterType="hashMap">
	SELECT B.BOARD_NO,B.BOARD_TYPE,B.BOARD_TITLE,B.BOARD_CONTENT,B.ENROLL_DATE,B.PASS_COUNT,
	B.NOTICE_MAX,B.NOTICE_MIN,B.NOTICE_REQUEST,B.NOTICE_END,B.NOTICE_START,B.STATUS,B.CATEGORY_NO,
	B.NOTICE_DAILY,B.CREW_AREA,A.ATT_NO,A.FILE_NO,A.UPLOAD_NAME,A.ORIGIN_NAME,A.FILE_SIZE,A.FILE_EXT,
    A.FILE_DATE,A.FILE_TYPE,A.REF_NO
    FROM BOARD B
    JOIN ATTACHMENT A ON  B.BOARD_NO = A.REF_NO
    WHERE B.BOARD_TYPE='공고' AND A.FILE_NO=1 AND FILE_TYPE= '1' ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectBoardDetail" resultType="map" parameterType="InformBoard">
	SELECT *FROM BOARD WHERE BOARD_NO=#{boardNo}
	</select>
	
	<select id="selectFileDetail" resultType="map" parameterType="InformBoardFiles">
	SELECT * FROM ATTACHMENT WHERE REF_NO=#{refNo} AND FILE_TYPE=#{fileType} AND FILE_NO=#{fileNo}
	</select>
	
	<select id="selectMemberDetail" resultType="map" parameterType="Member">
	SELECT *FROM MEMBER
    JOIN ATTACHMENT A ON(USER_NO=A.REF_NO)
    WHERE USER_NO=#{userNo}
    AND FILE_NO=0
    AND FILE_TYPE = '3'
	</select>
	
	<insert id="insertComent" parameterType="InformComent">
	 INSERT INTO COMENT (COMENT_NO,COMENT_CONTENT,COMENT_DATE,COMENT_STATUS,BOARD_NO,USER_NO)
     VALUES(SEQ_COMENT_NO.NEXTVAL,#{comentContent},SYSDATE,'Y',#{boardNo},#{userNo})
	</insert>
	<select id="selectComent" resultType="map" parameterType="InformComent">
	SELECT C.COMENT_NO,C.COMENT_CONTENT,C.COMENT_DATE,C.BOARD_NO,M.USER_ID,A.UPLOAD_NAME
    FROM COMENT C
    JOIN MEMBER M ON(M.USER_NO=C.USER_NO)
    JOIN ATTACHMENT A ON (C.USER_NO=A.REF_NO)
    WHERE C.BOARD_NO=#{boardNo}
    AND A.FILE_TYPE=3
    ORDER BY COMENT_DATE DESC
	</select>
	
	<!-- 패스차감 -->
	<update id="updatePassCount">
		UPDATE PASS
		SET PASS_COUNT = PASS_COUNT - #{deductPass}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 패스 이용 내역 insert -->
	<insert id="insertPassRecord">
		INSERT INTO PASSRECORD 
		VALUES(SEQ_PP_NO.NEXTVAL, 3, SYSDATE, #{deductPass}, SEQ_PAY_NO.NEXTVAL, #{facilityNo}, #{useCode}, #{userNo}) 
	</insert>
	
	<!-- 이용시설 조회 -->
	<select id="applyInformBoard" parameterType="hashmap" resultType="hashmap">
		SELECT P.PASS_COUNT, PR.USE_CODE, F.FACILITY_NAME, F.PASS_COUNT AS FACILITY_PASS
		FROM PASSRECORD PR 
        JOIN PASS P ON (PR.USER_NO = P.USER_NO)
        JOIN (SELECT FACILITY_NAME, PASS_COUNT, FACILITY_NO
      		  FROM FACILITY
      		  WHERE FACILITY_NO = #{facilityNo}) F USING(FACILITY_NO)
		WHERE PR.USER_NO = #{userNo}
		AND USE_CODE IS NOT NULL
	</select>
	
	<!-- facilityNo가져오기 -->
	<select id="selectFacilityNo" resultType="_int">
		SELECT F.FACILITY_NO
		FROM FACILITY F
		JOIN ATTACHMENT A ON (F.FACILITY_NO = A.REF_NO)
		WHERE FILE_NO = 0
		AND TOTAL_ADDRESS = #{crewArea}
	</select>
	
	<!-- 시설 이용전 확인 -->
	<select id="selectRecord" resultType="_int">
		<!-- SELECT COUNT(*)
		FROM PASSRECORD
		WHERE USER_NO = #{userNo}
		AND PP_STATUS = 3 -->
		SELECT COUNT(*)
		FROM PASSRECORD
		WHERE USER_NO = #{userNo}
        AND FACILITY_NO = #{facilityNo}
        AND USE_CODE IS NOT NULL
		AND PP_STATUS = 3
	</select>
	
	<!-- 공고 이용하는 회원 조회 -->
	<select id="selectInformAttendList" parameterType="hashmap" resultType="hashmap">
		SELECT P.USER_NO, M.USER_ID
		FROM PASSRECORD P
		JOIN MEMBER M ON(P.USER_NO = M.USER_NO)
		WHERE PP_STATUS = 3
		AND FACILITY_NO = #{facilityNo}
	</select>
	
	
	<!-- 공고 상세보기 댓글수 체크 -->
	<select id="selectCheckComentCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMENT
		WHERE BOARD_NO = #{boardNo}
	</select>
</mapper>


