<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Member -->
	<mapper namespace="myPage">
	<resultMap type="com.finalProject.enjoin.member.model.vo.Member" id="memberResultSet">
		<!-- PRIMARY KEY -->
		<id property="userNo" column="USER_NO"/>
		<!-- 컬럼 -->
		<result property="userType" column="USER_TYPE"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>	
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="managerPhone" column="MANAGER_PHONE"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="copNo" column="COP_NO"/>
		<result property="ceoName" column="CEO_NAME"/>
		<result property="copName" column="COP_NAME"/>
		<result property="copAddress" column="COP_ADDRESS"/>
		<result property="copType" column="COP_TYPE"/>
		<result property="copCon" column="COP_CON"/>
		<result property="copEmail" column="COP_EMAIL"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
	</resultMap>
	
	<!-- Coment -->
	<resultMap type="Coment" id="comentResultSet">
		<id property="comentNo" column="COMENT_NO"/>
		<result property="comentContent" column="COMENT_CONTENT"/>
		<result property="comentDate" column="COMENT_DATE"/>
		<result property="comentModifyDate" column="COMENT_MODIFYDATE"/>
		<result property="comentStatus" column="COMENT_STATUS"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
	</resultMap>
	
	<!-- Board -->
	<resultMap type="mpBoard" id="boardResultSet">
		<!-- PRIMARY KEY -->
		<id property="boardNo" column="BOARD_NO"/>
		<!-- 컬럼 -->
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardCount" column="BOARD_COUNT"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="crewName" column="CREW_NAME"/>
		<result property="crewNo" column="CREW_NO"/>
		<result property="contactStatus" column="CONTACT_STATUS"/>
		<collection property="attachment" javaType="java.util.ArrayList" resultMap="AttachmentResultSet"/>
		<collection property="comentList" javaType="java.util.ArrayList" resultMap="comentResultSet"/>
	</resultMap>
	
	<!-- PASS -->
	<resultMap type="Pass" id="passResultSet">
		<id property="passNo" column="PASS_NO"/>
		<result property="passCount" column="PASS_COUNT"/>
		<result property="passModifyDate" column="PASS_MODIFYDATE"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>
	
	<!-- inCrew -->
	<resultMap type="inCrew" id="inCrewResultSet">
		<id property="increwNo" column="INCREW_NO"/>
		<result property="crewId" column="CREW_ID"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="requestDate" column="REQUEST_DATE"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="inCrewStatus" column="INCREW_STATUS"/>
		<result property="crewName" column="CREW_NAME"/>
		<result property="uploadName" column="UPLOAD_NAME"/>
	</resultMap>
	
	<!-- AcceptCrewList -->
	<resultMap type="acceptCrew" id="acceptCrewResultSet">
		<id property="crew_Id" column="CREW_ID"/>
		<result property="crew_Name" column="CREW_NAME"/>
		<result property="crew_Max" column="CREW_MAX"/>
		<result property="user_No" column="USER_NO"/>
		<result property="request_Date" column="REQUEST_DATE"/>
		<result property="start_Date" column="START_DATE"/>
		<result property="end_Date" column="END_DATE"/>
		<result property="crew_Status" column="CREW_STATUS"/>
		<result property="category_No" column="CATEGORY_NO"/>
		<result property="category_Name" column="CATEGORY_NAME"/>
		<result property="crew_Address" column="CREW_ADDRESS"/>
		<result property="board_title" column="BOARD_TITLE"/>
		<result property="board_Content" column="BOARD_CONTENT"/>
		<result property="userId" column="USER_ID"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
	</resultMap>
	
	<!-- Attachment -->
	<resultMap type="Attachment" id="AttachmentResultSet">
		<id property="att_No" column="ATT_NO"/>
		<result property="file_No" column="FILE_NO"/>
		<result property="upload_Name" column="UPLOAD_NAME"/>
		<result property="origin_Name" column="ORIGIN_NAME"/>
		<result property="file_size" column="FILE_SIZE"/>
		<result property="file_Ext" column="FILE_EXT"/>
		<result property="file_Date" column="FILE_DATE"/>
		<result property="file_Type" column="FILE_TYPE"/>
		<result property="ref_No" column="REF_NO"/>
	</resultMap>
	
	<resultMap type="jjim" id="jjimResultSet">
		<result property="userNo" column="USER_NO"/>
		<result property="facilityNo" column="FACILITY_NO"/>
		<result property="passCount" column="PASS_COUNT"/>
		<result property="facilityName" column="FACILITY_NAME"/>
		<result property="facilityArea" column="FACILITY_AREA"/>
		<result property="facilitySection" column="FACILITY_SECTION"/>
		<result property="facilityAddress" column="FACILITY_ADDRESS"/>
		<result property="facilityEvent" column="FACILITY_EVENT"/>
		<result property="uploadName" column="UPLOAD_NAME"/>
	</resultMap>
	
	<!-- 결제 -->
   <resultMap type="Payment" id="paymentResultSet">
   		<id property="payNo" column="PAY_NO"/>
   		<result property="price" column="PRICE"/>
   		<result property="payDate" column="PAY_DATE"/>
   		<result property="proofNo" column="PROOF_NO"/>
   		<result property="payType" column="PAY_TYPE"/>
   		<result property="userNo" column="USER_NO"/>
   		<result property="refundNo" column="REFUND_NO"/>
   </resultMap>
   
   <!-- 패스이력 -->
   <resultMap type="Passrecord" id="passRecordResultSet">
      <id property="ppStatus" column="PP_STATUS"/>
      <result property="ppDate" column="PP_DATE"/>
      <result property="ppCount" column="PP_COUNT"/>
      <result property="payNo" column="PAY_NO"/>
      <result property="userNo" column="USER_NO"/>
      <result property="useCode" column="USE_CODE"/>
   </resultMap>
   
   <resultMap type="com.finalProject.enjoin.company.model.vo.Company" id="companyResultSet">
		<!-- PRIMARY KEY -->
		<id property="facilityNo" column="FACILITY_NO"/>
		<!-- 컬럼 -->
		<result property="facilityRequestDate" column="FACILITY_REQUESTDATE"/>
		<result property="facilityStartDate" column="FACILITY_STARTDATE"/>
		<result property="facilityEndDate" column="FACILITY_ENDDATE"/>
		<result property="facilityStatus" column="FACILITY_STATUS"/>
		<result property="passCount" column="PASS_COUNT"/>
		<result property="facilityCopNo" column="FACILITY_COPNO"/>
		<result property="facilityName" column="FACILITY_NAME"/>
		<result property="facilityArea" column="FACILITY_AREA"/>
		<result property="facilitySection" column="FACILITY_SECTION"/>
		<result property="facilityAddress" column="FACILITY_ADDRESS"/>	
		<result property="facilityEvent" column="FACILITY_EVENT"/>
		<result property="facilityManagerName" column="FACILITY_MANAGER_NAME"/>
		<result property="facilityManagerPhone" column="FACILITY_MANAGER_PHONE"/>
		<result property="timeForCall" column="TIME_FOR_CALL"/>
		<result property="mon_fri_time" column="MON_FRI_TIME"/>
		<result property="sat_time" column="SAT_TIME"/>
		<result property="sun_time" column="SUN_TIME"/>
	</resultMap>
	
	<!-- 회원 정보 수정 쿼리 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET USER_NAME = #{userName},
			USER_PWD = #{userPwd},
			EMAIL = #{email},
			PHONE = #{phone},
			MODIFY_DATE = SYSDATE
			WHERE USER_ID = #{userId}				
	</update>
	
	
	<!-- 프로필 사진 조회 -->
	<select id="selectPhoto" resultType="_int">
		SELECT COUNT(*)
		FROM ATTACHMENT
		WHERE FILE_TYPE = '3' 
		AND REF_NO = #{userNo}
	</select>
	
	<!-- 프로필 사진 삭제 -->
	<delete id="deletePhoto">
		DELETE 
		FROM ATTACHMENT 
		WHERE FILE_TYPE = '3' 
		AND REF_NO = #{userNo}
	</delete>
	
	<!-- 프로필 사진 등록  -->
	<insert id="insertPhoto" parameterType="Attachment">
		INSERT INTO ATTACHMENT 
		VALUES(SEQ_ATT_NO.NEXTVAL, 0, #{upload_Name}, #{origin_Name}, #{file_size}, #{file_Ext}, SYSDATE, 3, #{ref_No})
	</insert>
	
	<!-- 크루 게시물 작성 쿼리 -->
	<insert id="insertCrewBoard" parameterType="hashmap">
		INSERT INTO BOARD(BOARD_NO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT, ENROLL_DATE, STATUS, CREW_NO, BOARD_COUNT, USER_NO)
		VALUES(BOARD_NO.NEXTVAL, '크루게시판', #{b.boardTitle}, #{b.boardContent}, SYSDATE, 'Y', #{crewId}, 0, #{userNo})
	</insert>
	
	<!-- 크루 게시물 이미지 저장 쿼리 -->
	<insert id="insertBoardImg" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ATT_NO.NEXTVAL, 0, #{at.upload_Name}, #{at.origin_Name}, #{at.file_size}, #{at.file_Ext}, SYSDATE, 5, BOARD_NO.CURRVAL)
	</insert>
	
	<!-- 게시물 갯수  조회-->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND BOARD_TYPE = '크루게시판'
		AND CREW_NO = #{crewId}
	</select>
	
	<!-- 크루 게시판 조회 -->
	<select id="crewBoardList" resultMap="boardResultSet">
		<!-- SELECT BOARD_NO, BOARD_TITLE, ENROLL_DATE
		FROM BOARD
		WHERE BOARD_TYPE = '크루게시판'
		AND STATUS = 'Y'
		AND CREW_NO = #{crewId}
		ORDER BY BOARD_NO DESC -->
		SELECT BOARD_NO, BOARD_TITLE, ENROLL_DATE, C.CREW_NAME, B.BOARD_COUNT
		FROM BOARD B
        JOIN CREW C ON (B.CREW_NO = C.CREW_ID)
		WHERE BOARD_TYPE = '크루게시판'
		AND STATUS = 'Y'
		AND CREW_NO = #{crewId}
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 크루 게시판 상세보기 -->
	<select id="crewBoardDetail" resultMap="boardResultSet" parameterType="mpBoard"> 
		<!-- SELECT * FROM BOARD B
		JOIN MEMBER M USING (USER_NO)
		LEFT JOIN COMENT C ON(B.BOARD_NO = C.BOARD_NO)
        LEFT JOIN ATTACHMENT A ON(A.REF_NO = B.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo}
		AND B.STATUS = 'Y'
		AND B.BOARD_TYPE = '크루게시판'
		ORDER BY C.COMENT_DATE DESC -->
		SELECT * 
		FROM BOARD B
		JOIN MEMBER M USING(USER_NO)
		LEFT JOIN COMENT C ON (B.BOARD_NO = C.BOARD_NO)
		LEFT JOIN ATTACHMENT A ON (A.REF_NO = B.BOARD_NO)
		WHERE B.BOARD_NO = 24
		AND B.STATUS = 'Y'
		AND B.BOARD_TYPE= '크루게시판'
		ORDER BY C.COMENT_DATE DESC
	</select>
	
	<!-- 내가 쓴 크루모집 게시물 조회 -->
	<select id="selectWritePost" resultMap="boardResultSet">
		SELECT B.BOARD_NO, B.BOARD_TITLE, M.USER_NAME, B.ENROLL_DATE, B.BOARD_COUNT, M.USER_NO, B.CREW_NO
		FROM BOARD B
		JOIN MEMBER M ON(M.USER_NO = B.USER_NO)
		WHERE B.USER_NO = #{userNo}
		AND B.BOARD_TYPE = '크루모집'
	</select>
	
	<!-- 내가 쓴 크루게시물 조회 -->
	<select id="selectWriteCrewBoard" resultMap="boardResultSet">
		SELECT B.BOARD_NO, B.BOARD_TITLE, M.USER_NAME, B.ENROLL_DATE, B.BOARD_COUNT, B.CREW_NO
		FROM BOARD B
		JOIN MEMBER M ON(M.USER_NO = B.USER_NO)
		WHERE B.USER_NO = #{userNo}
		AND B.BOARD_TYPE = '크루게시판'
	</select>
	
	<!-- 내가 쓴 댓글 조회 -->
	<select id="selectWriteComent" resultMap="comentResultSet">
		SELECT C.COMENT_NO, C.COMENT_CONTENT, C.COMENT_DATE, B.BOARD_TYPE, B.BOARD_TITLE
		FROM COMENT C
		LEFT JOIN BOARD B ON (B.BOARD_NO = C.BOARD_NO)
		WHERE C.USER_NO =  #{userNo}
	</select>

	<!-- 내가 쓴 1:1문의 조회 -->
	<select id="selectAsBoard" resultMap="boardResultSet">
		SELECT B.BOARD_NO, B.BOARD_TITLE, M.USER_NAME, B.ENROLL_DATE, B.CONTACT_STATUS
		FROM BOARD B
		JOIN MEMBER M ON(M.USER_NO = B.USER_NO)
		WHERE B.USER_NO = #{userNo}
		AND B.BOARD_TYPE = '문의'
	</select>
	
	<!-- 내가 쓴 1:1문의 상세보기 -->
	<select id="selectAsDetail" resultMap="boardResultSet" parameterType="mpBoard">
		<!-- SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTENT, A.UPLOAD_NAME
		FROM BOARD B
		JOIN ATTACHMENT A ON (B.BOARD_NO = A.REF_NO)
		WHERE B.BOARD_NO = #{boardNo} -->
		<!-- SELECT * 
		FROM BOARD B	
		LEFT JOIN (SELECT C.COMENT_CONTENT, C.BOARD_NO, C.COMENT_DATE
                   FROM COMENT C
                   LEFT JOIN BOARD B ON (B.BOARD_NO = C.BOARD_NO)) CB ON (B.BOARD_NO = CB.BOARD_NO)
		LEFT JOIN (SELECT A.UPLOAD_NAME, A.REF_NO
                   FROM ATTACHMENT A) AB ON (AB.REF_NO = CB.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo}
		AND B.STATUS = 'Y'
		AND B.BOARD_TYPE= '문의'
		ORDER BY CB.COMENT_DATE DESC -->
		SELECT * 
		FROM BOARD B
		JOIN MEMBER M USING(USER_NO)
		LEFT JOIN COMENT C ON (B.BOARD_NO = C.BOARD_NO)
		LEFT JOIN ATTACHMENT A ON (A.REF_NO = B.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo}
		AND B.STATUS = 'Y'
		AND B.BOARD_TYPE= '문의'
		ORDER BY C.COMENT_DATE DESC
	</select>
	
	<!-- 패스 수량 & 수정일 조회 쿼리 -->
	<select id="selectPass" resultType="_int">
		<!-- SELECT PASS_COUNT, PASS_MODIFYDATE
		FROM PASS
		WHERE USER_NO = (SELECT USER_NO
						 FROM MEMBER
						 WHERE USER_NO = #{userNo}) -->
		SELECT NVL(SUM(PASS_COUNT) , 0) PASS_COUNT
		FROM PASS
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 크루 목록 조회 -->
	<select id="selectCrewList" resultMap="acceptCrewResultSet">
		SELECT *
		FROM BOARD B
		LEFT JOIN (SELECT * 
				   FROM ATTACHMENT
				   WHERE FILE_TYPE = '4'
				   AND FILE_NO = 0) A ON (B.BOARD_NO = A.REF_NO)
		JOIN CREW C ON (B.CREW_NO = C.CREW_ID)
		WHERE B.USER_NO = #{userNo}
		AND BOARD_TYPE = '크루모집'
	</select>
	
	<!-- 가입된 크루 목록 조회 -->
	<select id="selectInCrewList" resultMap="acceptCrewResultSet">
        SELECT C.CREW_NAME, C.CREW_ID, M.USER_ID, BA.BOARD_NO, BA.BOARD_TYPE, BA.CREW_NO, BA.UPLOAD_NAME, BA.REF_NO
		FROM CREW C
		JOIN INCREW IC ON(C.CREW_ID = IC.CREW_ID)
        JOIN MEMBER M ON (C.USER_NO = M.USER_NO)
        JOIN (SELECT BOARD_NO, BOARD_TYPE, CREW_NO, UPLOAD_NAME, REF_NO
              FROM BOARD B
              LEFT JOIN (SELECT UPLOAD_NAME, REF_NO 
                         FROM ATTACHMENT
                         WHERE FILE_TYPE = '4'
                         AND FILE_NO = 0) A ON (B.BOARD_NO = A.REF_NO)
              WHERE BOARD_TYPE = '크루모집') BA ON (BA.CREW_NO = C.CREW_ID)
		WHERE IC.USER_NO = (SELECT USER_NO
                   		 	FROM MEMBER
                   	 		WHERE USER_NO = #{userNo})
        AND IC.INCREW_STATUS = 'Y'
        ORDER BY C.CREW_ID ASC
       <!--  SELECT *
		FROM BOARD B
		LEFT JOIN (SELECT * 
				   FROM ATTACHMENT
				   WHERE FILE_TYPE = '4'
				   AND FILE_NO = 0) A ON (B.BOARD_NO = A.REF_NO)
		JOIN CREW C ON (B.CREW_NO = C.CREW_ID)
		WHERE B.USER_NO = #{userNo}
		AND BOARD_TYPE = '크루모집'
		ORDER BY CREW_ID ASC -->
	</select>
	
	<!-- 가입 승인 대기 목록 조회 쿼리 -->
	<select id="selectCrewAcceptList" resultMap="acceptCrewResultSet">
		SELECT M.USER_ID, M.USER_NAME, CREW_ID, CREW_NAME, IC.USER_NO, CATEGORY_NAME
		FROM CREW C
		JOIN INCREW IC USING (CREW_ID)
		JOIN MEMBER M ON(IC.USER_NO = M.USER_NO)
		JOIN CATEGORY CA ON (C.CATEGORY_NO = CA.CATEGORY_NO)
		WHERE C.USER_NO =  #{userNo}
		AND IC.INCREW_STATUS = 'N'
	</select>
	
	<!-- 크루 승인 쿼리 -->
	<update id="updateCrewApply" parameterType="inCrew">
		UPDATE INCREW
		SET INCREW_STATUS = 'Y',
			START_DATE = SYSDATE
		WHERE USER_NO = #{userNo}
		AND CREW_ID = #{crewId}
	</update>
	
	<!-- 크루게시물 댓글 작성 -->
	<insert id="insertComent" parameterType="Coment">
		INSERT INTO COMENT
		VALUES(SEQ_COMENT_NO.NEXTVAL, #{reply}, SYSDATE, NULL, 'Y', #{boardNo}, #{userNo}, 0)
	</insert>
	
	<!-- 게시물 조회수 증가 -->
	<update id="updateBoardCount">
		UPDATE BOARD
     	SET BOARD_COUNT = BOARD_COUNT +1
     	WHERE BOARD_NO = #{board_No}
	</update>
	
	<!-- 찜등록전 확인 -->
	<select id="selectJJIMCheck" resultType="_int">
		SELECT COUNT(*)
		FROM JJIM
		WHERE USER_NO = #{userNo}
		AND FACILITY_NO = #{facilityNo}
	</select>
	
	<!-- 찜 목록 등록 -->
	<insert id="insertJJIM">
		INSERT INTO JJIM VALUES(#{userNo}, #{facilityNo})
	</insert>
		
	<!-- 찜 목록 조회 쿼리 -->
	<select id="selectJJIM" resultMap="jjimResultSet">
		SELECT J.USER_NO, F.FACILITY_NO, F.PASS_COUNT, F.FACILITY_NAME, F.FACILITY_AREA, F.FACILITY_SECTION, F.FACILITY_ADDRESS, F.FACILITY_EVENT, A.UPLOAD_NAME 
		FROM FACILITY F
		LEFT JOIN JJIM J ON (F.FACILITY_NO = J.FACILITY_NO)
		LEFT JOIN ATTACHMENT A ON (A.REF_NO = F.FACILITY_NO)
		WHERE J.USER_NO = #{userNo}
		AND A.FILE_NO = 0
		AND A.FILE_TYPE = '6'
	</select>
	
	<!-- 찜 목록 삭제 쿼리 -->
	<delete id="deleteJJIM">
		DELETE 
		FROM JJIM
		WHERE USER_NO = #{userNo}
		AND FACILITY_NO = #{facilityNo}
	</delete>
	
	<!-- 크루원 조회 -->
	<select id="selectCrewMember" parameterType="hashmap" resultMap="inCrewResultSet">
		SELECT M.USER_ID, CM.CREW_ID, CM.USER_NO, CM.CREW_NAME, CM.UPLOAD_NAME
		FROM MEMBER M
		JOIN (SELECT IC.CREW_ID, IC.USER_NO, C.CREW_NAME, BA.UPLOAD_NAME
     		  FROM INCREW IC
      		  JOIN CREW C ON (IC.CREW_ID = C.CREW_ID)
      		  JOIN (SELECT B.USER_NO, B.BOARD_NO, B.CREW_NO, A.UPLOAD_NAME, A.REF_NO
            		FROM BOARD B
            		LEFT JOIN (SELECT UPLOAD_NAME, REF_NO
                       		   FROM ATTACHMENT 
                       		   WHERE FILE_TYPE = '4'
                       		   AND FILE_NO = 0) A ON (B.BOARD_NO = A.REF_NO)
                    JOIN CREW C ON (B.CREW_NO = C.CREW_ID)
                    WHERE B.USER_NO = #{userNo}
                    AND BOARD_TYPE = '크루모집' ) BA ON (BA.CREW_NO = C.CREW_ID)) CM ON (M.USER_NO = CM.USER_NO)
		WHERE CM.CREW_ID = #{crewId}
	</select>
	
	<!-- 이용내역 조회 -->
	<select id="selectUseHistory" parameterType="hashmap" resultType="hashmap">
		SELECT ROWNUM, PR.PP_COUNT, TO_CHAR(PR.PP_DATE, 'yyyy-mm-dd') AS PP_DATE, PR.PP_STATUS, F.FACILITY_NO, F.FACILITY_NAME
		FROM PASSRECORD PR
		JOIN FACILITY F ON (PR.FACILITY_NO = F.FACILITY_NO)
		WHERE USER_NO = ${userNo}
		AND PR.PP_DATE BETWEEN '${date1}' AND '${date2}'
		AND PR.PP_STATUS = 2
	</select>
	
	<!-- 회원 탈퇴처리 -->
	<update id="deleteMember">
		UPDATE MEMBER
		SET MODIFY_DATE = SYSDATE,
			STATUS = 'N'
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 시설 이용전 패스 유무 확인 -->
	<select id="selectCheckPass" resultType="_int">
		SELECT NVL(SUM(PASS_COUNT) , 0) PASS_COUNT
		FROM PASS
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 시설 이용을 위한 패스 차감 -->
	<update id="updatePassCount">
		UPDATE PASS
		SET PASS_COUNT = PASS_COUNT - #{deductPass}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 패스 이용 내역 insert -->
	<insert id="insertPassRecord">
		INSERT INTO PASSRECORD VALUES(SEQ_PP_NO.NEXTVAL, 0, SYSDATE, #{deductPass}, SEQ_PAY_NO.NEXTVAL, #{facilityNo}, #{useCode}, #{userNo}) 
	</insert>
	
	<!-- 시설 이용을 위한 패스내역 패스 차감 -->
	<update id="updatePassCountRecord">
		UPDATE PASSRECORD
		SET PP_COUNT = PP_COUNT - #{deductPass}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 이용코드 부여 -->
	<update id="updateUseCode">
		UPDATE PASSRECORD
		SET PP_STATUS = 1,
		FACILITY_NO = #{facilityNo},
		USE_CODE = #{useCode}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 시설 이용등록 완료후 정보 띄우기 -->
	<select id="selectUseCode" parameterType="hashmap" resultType="hashmap">
		<!-- SELECT P.PP_COUNT, P.USE_CODE, F.FACILITY_NAME, F.PASS_COUNT
		FROM PASSRECORD P 
		JOIN (SELECT FACILITY_NAME, PASS_COUNT, FACILITY_NO
      		  FROM FACILITY
      		  WHERE FACILITY_NO = #{facilityNo}) F USING(FACILITY_NO)
		WHERE USER_NO = #{userNo} -->
		SELECT P.PASS_COUNT, PR.USE_CODE, F.FACILITY_NAME, F.PASS_COUNT AS FACILITY_PASS
		FROM PASSRECORD PR 
        JOIN PASS P ON (PR.USER_NO = P.USER_NO)
        JOIN (SELECT FACILITY_NAME, PASS_COUNT, FACILITY_NO
      		  FROM FACILITY
      		  WHERE FACILITY_NO = #{facilityNo}) F USING(FACILITY_NO)
		WHERE PR.USER_NO = #{userNo}
		AND USE_CODE IS NOT NULL
	</select>
	
	<!-- 시설 이용전 확인 -->
	<select id="selectRecord" resultType="_int">
		SELECT COUNT(*)
		FROM PASSRECORD
		WHERE USER_NO = #{userNo}
		AND FACILITY_NO = #{facilityNo}
		AND PP_STATUS = 0
	</select>
	
	<!-- 이용코드 조회후 뿌리기 -->
	<select id="selectUseCodeList" parameterType="hashmap" resultType="hashmap">
		SELECT ROWNUM, TO_CHAR(PR.PP_DATE, 'yyyy-mm-dd') AS PP_DATE, PR.USE_CODE, F.FACILITY_NAME, PP_STATUS
		FROM PASSRECORD PR
		JOIN FACILITY F USING(FACILITY_NO)
		WHERE USER_NO = #{userNo}
		AND PP_STATUS = 0
	</select>
</mapper>
	
	












