<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Member -->
	<mapper namespace="myPage">
	<resultMap type="com.finalProject.enjoin.member.model.vo.Member" id="memberResultSet">
		<!-- PRIMARY KEY -->
		<id property="userNo" column="USER_NO"/>
		<!-- 컬럼 -->
		<result property="userType" column="USER_TYPE"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>	
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="managerPhone" column="MANAGER_PHONE"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="copNo" column="COP_NO"/>
		<result property="ceoName" column="CEO_NAME"/>
		<result property="copName" column="COP_NAME"/>
		<result property="copAddress" column="COP_ADDRESS"/>
		<result property="copType" column="COP_TYPE"/>
		<result property="copCon" column="COP_CON"/>
		<result property="copEmail" column="COP_EMAIL"/>
	</resultMap>
	
	<!-- 회원 정보 수정 쿼리 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET USER_NAME = #{userName},
			USER_PWD = #{userPwd},
			EMAIL = #{email},
			PHONE = #{phone},
			MODIFY_DATE = SYSDATE
			WHERE USER_ID = #{userId}				
	</update>
	
	
	<!-- Board -->
	<resultMap type="com.finalProject.enjoin.notice.model.vo.Board" id="boardResultSet">
		<!-- PRIMARY KEY -->
		<id property="boardNo" column="BOARD_NO"/>
		<!-- 컬럼 -->
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>
	
	<resultMap type="Board" id="boardResultSet123">
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
	<!-- 게시물 갯수  조회-->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND BOARD_TYPE = 5
	</select>
	<!-- 크루 게시판 조회 -->
	<select id="crewBoardList" resultMap="boardResultSet">
		SELECT BOARD_NO, BOARD_TITLE, ENROLL_DATE
		FROM BOARD
		WHERE BOARD_TYPE = 5
		AND STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	<!-- 크루 게시판 상세보기 -->
	<select id="crewBoardDetail" resultMap="boardResultSet" parameterType="_int">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT
		FROM BOARD
		WHERE BOARD_TYPE = 5
		AND STATUS = 'Y'
		AND BOARD_NO = #{boardNo}
	</select>
</mapper>
	
	












