<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">
	<resultMap type="com.finalProject.enjoin.member.model.vo.Member" id="memberResultSet">
		<!-- PRIMARY KEY -->
		<id property="userNo" column="USER_NO"/>
		<!-- 컬럼 -->
		<result property="userType" column="USER_TYPE"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>	
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="managerPhone" column="MANAGER_PHONE"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="copNo" column="COP_NO"/>
		<result property="ceoName" column="CEO_NAME"/>
		<result property="copName" column="COP_NAME"/>
		<result property="copAddress" column="COP_ADDRESS"/>
		<result property="copType" column="COP_TYPE"/>
		<result property="copCon" column="COP_CON"/>
		<result property="copEmail" column="COP_EMAIL"/>
	</resultMap>
	
	<!-- 회원 패스 조회 -->
	<select id="selectPass" resultMap="memberResultSet" parameterType="Member">
		SELECT PASS_COUNT
		FROM PASS
		WHERE USER_NO = (SELECT USER_NO
						 FROM MEMBER 
						 WHERE USER_ID = #{userId})
	</select>
	
	
	<!-- 회원 정보 수정 쿼리 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET USER_NAME = #{userName},
			USER_PWD = #{userPwd},
			EMAIL = #{email},
			PHONE = #{phone},
			MODIFY_DATE = SYSDATE
			WHERE USER_ID = #{userId}
				
	</update>
	
	
</mapper>












